<!-- Default home page -->
<link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet' type="text/css"/>
<script type="text/javascript">
  setTimeout (function sunrise() {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
  },
  0);
</script>
<div class="default-page">
  <div class="header">
    <h1 class="container" id="main-title"><%= __('Local Hero') %></h1>
    <h3 class="container">Help the people around you</h3>
  </div>
  <div class="main container clearfix">
    <h1>Helping others is what makes us human</h1>
    <p>Let's start with those near us</p>
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <div class="sprite"></div>
          <h3>
            Provide your skills to the people around you
          </h3>
          <p>
            Once you log in into the app, you will be asked to pick your abilities. What
            could you do in order to assist other people?
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite"></div>
          <h3>
            Are you in need of help?
          </h3>
          <p>
            At times, all of us can be in difficult situations. Using Local Hero you'll be
            able to find a way out at those times, when it's most needed.
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite"></div>
          <h3>
            Support and be supported, financially
          </h3>
          <p>
            Using your PayPal account you can easily acquire and send money, which can act as
            an extra economical support for some people.
          </p>
        </div>
      </li>
    </ul>
    <div class="links" style="border-radius: 50%;">
      <!-- <h3>Hero Local</h3> -->
      <img alt="Hero kid" src="images/hero_kid.jpg"
        style="border-radius: 50%; margin-top: 15%; box-shadow: 5px 5px 11px #949292;" width="235px"/>
    </div>
  </div>
</div>
