<!-- Default home page -->
<link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet' type="text/css"/>
<script type="text/javascript">
  setTimeout (function sunrise() {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
  },
  0);
</script>
<div class="default-page">
  <div class="header" style="padding-top: 60px;">
    <h1 class="container" id="main-title"><%= __('Local Hero') %></h1>
    <h3 class="container">Help the people around you</h3>
  </div>
  <div class="main container clearfix" style="padding-top: 10px;">
    <ul class="getting-started" style="width: 32%;">
    <h2>Made with ♡ and ...</h2>
      <li class="clearfix">
        <div class="step">
          <div class="sprite"></div>
          <h3>
            Node.js
          </h3>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite"></div>
          <h3>
            Sails.js
          </h3>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite"></div>
          <h3>
            PhoneGap
          </h3>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite"></div>
          <h3>
            Angular
          </h3>
        </div>
      </li>
    </ul>
    <ul class="getting-started" style="width: 32%; list-style: none">
    <h2>The APIs we used</h2>
      <li class="clearfix">
        <div class="">
          <div class=""></div>
          <h3>
            <img src="images/pp.png" alt="" />
          </h3>
        </div>
      </li>
      <li class="clearfix">
        <div class="">
          <div class=""></div>
          <h3>
            <img src="images/jg.png" alt="" />
          </h3>
        </div>
      </li>
      <li class="clearfix">
        <div class="">
          <div class=""></div>
          <h3>
            <img src="images/pu.png" alt="" />
          </h3>
        </div>
      </li>
      <li class="clearfix">
        <div class="">
          <div class=""></div>
          <h3>
            <img src="images/sg.png" alt="" />
          </h3>
        </div>
      </li>
    </ul>
  </div>
</div>
